<a href="https://colab.research.google.com/github/jduell12/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module1-exploratory-data-analysis/LS_DS_111_Exploratory_Data_Analysis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learning Objectives

# Exploratory Data Analysis

- Objective 01 - submit assignments and save work via GitHub
- Objective 02 - load a CSV dataset from a URL using `pandas.read_csv`
- Objective 03 - load a CSV dataset from a local file using `pandas.read_csv
- Objective 04 - use basic Pandas functions for Exploratory Data Analysis-EDA
- Objective 05 - describe and discriminate between basic data types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier

#Explore the University of California - Irvine Adult Dataset

###1) Load a dataset via its URL.

Load the Adult dataset from: 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

Specify the column headers as:'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income']

In [3]:
import pandas as pd 

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

column_headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
                  'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 
                  'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg',
                  'price']

df = pd.read_csv(data_url, names=column_headers,na_values='?')

###2) Print the first 5 and the last 5 rows.

In [29]:
#first 5 rows
df.head(5)

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [21]:
#last 5 rows
df.tail(5)

     symboling  normalized-losses   make  ... city-mpg highway-mpg    price
200         -1               95.0  volvo  ...       23          28  16845.0
201         -1               95.0  volvo  ...       19          25  19045.0
202         -1               95.0  volvo  ...       18          23  21485.0
203         -1               95.0  volvo  ...       26          27  22470.0
204         -1               95.0  volvo  ...       19          25  22625.0

[5 rows x 26 columns]

###3) Determine the data type of each varaible.

In [22]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

###4) Determine the dimensions of the dataset.

In [23]:
df.shape

(205, 26)

###5) Are there any missing values in the dataset?
Check for missing values using .isnull().sum().

In [24]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

###6) Use the .describe() function in order to see the summary statistics of the numeric columns.

Are there any values shown that might be a code for missing data?  We'll learn how to change the values in a DataFrame tomorrow.

In [30]:
df.describe()

        symboling  normalized-losses  ...  highway-mpg         price
count  205.000000         164.000000  ...   205.000000    201.000000
mean     0.834146         122.000000  ...    30.751220  13207.129353
std      1.245307          35.442168  ...     6.886443   7947.066342
min     -2.000000          65.000000  ...    16.000000   5118.000000
25%      0.000000          94.000000  ...    25.000000   7775.000000
50%      1.000000         115.000000  ...    30.000000  10295.000000
75%      2.000000         150.000000  ...    34.000000  16500.000000
max      3.000000         256.000000  ...    54.000000  45400.000000

[8 rows x 16 columns]

###7) Use the .describe(exclude='number') function to calculate summary statistics for the non-numeric columns

In [31]:
df.describe(exclude='number')

          make fuel-type aspiration  ... engine-type num-of-cylinders fuel-system
count      205       205        205  ...         205              205         205
unique      22         2          2  ...           7                7           8
top     toyota       gas        std  ...         ohc             four        mpfi
freq        32       185        168  ...         148              159          94

[4 rows x 10 columns]

###8) Calculate the number of observations in each category of the relationship variable.

In [32]:
df['body-style'].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

###9) Select and print the occupation category.

In [36]:
print(df['engine-location'])

0      front
1      front
2      front
3      front
4      front
       ...
200    front
201    front
202    front
203    front
204    front
Name: engine-location, Length: 205, dtype: object

#Load a dataset saved on your personal computer

Go to the website http://users.stat.ufl.edu/~winner/datasets.html and scroll down to **NASCAR Race Results by Driver 1975-2003**

Download and save the .csv file to your personal computer.

###10) Upload the dataset using the following commands.

In [1]:
from google.colab import files
uploaded = files.upload()

Saving nascard.csv to nascard.csv

In [5]:
nascar = pd.read_csv('nascard.csv')

###11) Print the first 10 rows of the dataset

In [6]:
nascar.head(10)

   serRace  year  yearRace  finish  ...  prize  carsRace    carMake          driver
0        1  1975         1       1  ...  12035        35    Matador    BobbyAllison
1        1  1975         1       2  ...   8135        35    Mercury    DavidPearson
2        1  1975         1       3  ...   6535        35  Chevrolet     CecilGordon
3        1  1975         1       4  ...   5035        35      Dodge      DaveMarcis
4        1  1975         1       5  ...   3835        35       Ford     ElmoLangley
5        1  1975         1       6  ...   2885        35  Chevrolet     JamesHylton
6        1  1975         1       7  ...   3185        35      Dodge    RichardPetty
7        1  1975         1       8  ...   2485        35  Chevrolet    GaryMatthews
8        1  1975         1       9  ...   2335        35      Dodge         EdNegre
9        1  1975         1      10  ...   2185        35  Chevrolet  HershelMcGriff

[10 rows x 10 columns]

###12) Answer the following questions for the variables prize, carMake and driver:


*   Is the variable categorical or quantitative?
*   If the variable is categorical, determine if it is ordinal, nominal or an identifier variable.
*   If the vriable is quantitative, determine if it is continuous or discrite.

In [19]:
nascar.dtypes

serRace      int64
year         int64
yearRace     int64
finish       int64
start        int64
laps         int64
prize        int64
carsRace     int64
carMake     object
driver      object
dtype: object

# variable Prize 
quantitative - discrete 

#varibale carMake
categorical - nominal 

#variable driver
categorical - identifier

#Data Storytelling Project Milestone

Begin looking at Data Storytelling (previously called Build Week) [project info](https://github.com/LambdaSchool/DS-Unit-1-Build) and at projects created by previous Lambda students.

[Projects — Lambda DS1!](https://drive.google.com/file/d/1RJoAqDgawzSHOJPlDQRRlfz-EnIsskpL/view)