<a href="https://colab.research.google.com/github/jduell12/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [95]:
import pandas as pd 
# Pandas Display Options:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-11-11 18:51:01--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.10.247.232, 34.209.169.217, 52.10.168.94
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.10.247.232|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [  <=>               ]  22.37M  3.10MB/s    in 7.3s

2020-11-11 18:51:09 (3.09 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23459818]

In [96]:
#unzips the file we downloaded 
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [157]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [98]:
df.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

## Convert the term column from string to integer.

In [99]:
df['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [100]:
def clean_term(term):
  return int(term.strip('months').strip())

In [101]:
terms = ['36 months', '60 months']

for t in terms:
  print(clean_term(t))

36
60

In [102]:
df['term'] = df['term'].apply(clean_term)

In [103]:
df['term'].head()

0    36
1    36
2    36
3    60
4    36
Name: term, dtype: int64

## Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [104]:
df['loan_status'].value_counts()

Current               75005
Fully Paid            38988
Charged Off           11228
Late (31-120 days)     1367
In Grace Period        1257
Late (16-30 days)       360
Default                 207
Name: loan_status, dtype: int64

In [105]:
df['loan_status'][0]

'Charged Off'

In [106]:
def check_loan_status(loan_status):
  loan_status.strip().title()
  if loan_status == 'Current' or loan_status == 'Fully Paid':
    return 1
  else:
    return 0

In [107]:
examples = ['Fully Paid', 'Current', 'Late (31-120 days)', 'Charged Off']

In [108]:
for ex in examples:
  print(check_loan_status(ex))

1
1
0
0

In [109]:
df['loan_status_is_great'] = df['loan_status'].apply(check_loan_status)
df['loan_status'].head()

0           Charged Off
1    Late (31-120 days)
2            Fully Paid
3            Fully Paid
4               Current
Name: loan_status, dtype: object

In [110]:
df['loan_status_is_great'].head()

0    0
1    0
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [111]:
loan = df[['loan_status', 'loan_status_is_great']]
loan.head(20)

           loan_status  loan_status_is_great
0          Charged Off                     0
1   Late (31-120 days)                     0
2           Fully Paid                     1
3           Fully Paid                     1
4              Current                     1
5           Fully Paid                     1
6              Current                     1
7           Fully Paid                     1
8           Fully Paid                     1
9              Current                     1
10          Fully Paid                     1
11          Fully Paid                     1
12          Fully Paid                     1
13         Charged Off                     0
14         Charged Off                     0
15             Current                     1
16          Fully Paid                     1
17          Fully Paid                     1
18          Fully Paid                     1
19             Current                     1

## Make last_pymnt_d_month and last_pymnt_d_year columns.

In [152]:
df['last_pymnt_d'].value_counts()

Oct-2020    68792
Sep-2020    10874
Jul-2019     3146
Sep-2019     2755
Oct-2019     2722
Aug-2019     2716
Dec-2019     2713
May-2019     2547
Jul-2020     2474
Nov-2019     2388
Aug-2020     2365
Apr-2019     2356
Jun-2020     2351
Jan-2020     2304
Jun-2019     2288
Mar-2020     2288
Mar-2019     1984
May-2020     1950
Apr-2020     1923
Feb-2019     1915
Feb-2020     1782
Jan-2019     1561
Dec-2018     1054
Nov-2018      679
Oct-2018      234
Nov-2020       80
Dec-2020       12
Name: last_pymnt_d, dtype: int64

In [158]:
df['last_pymnt_d'].isnull().sum()

159

In [159]:
df['last_pymnt_d'].fillna(value='Jan-1800', inplace=True)

In [160]:
df['last_pymnt_d'].isnull().sum()

0

In [161]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d'].head()

0   2020-02-01
1   2020-08-01
2   2019-07-01
3   2019-04-01
4   2020-09-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [162]:
df['last_pymnt_d'].isnull().sum()

0

In [163]:
df['last_pymnt_d'].unique()

array(['2020-02-01T00:00:00.000000000', '2020-08-01T00:00:00.000000000',
       '2019-07-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2020-09-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2020-10-01T00:00:00.000000000',
       '2020-01-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000',
       '2019-08-01T00:00:00.000000000', '2020-04-01T00:00:00.000000000',
       '2019-05-01T00:00:00.000000000', '2020-07-01T00:00:00.000000000',
       '2020-06-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2020-03-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-03-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '1800-01-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2020-12-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [165]:
# last_pymnt_d_month and last_pymnt_d_year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [166]:
df['last_pymnt_d_month'].head()

0    2
1    8
2    7
3    4
4    9
Name: last_pymnt_d_month, dtype: int64

In [167]:
df['last_pymnt_d_year'].head()

0    2020
1    2020
2    2019
3    2019
4    2020
Name: last_pymnt_d_year, dtype: int64

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [118]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [119]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [120]:
# %cd instacart_2017_05_01